@page
@model FilmReference.FrontEnd.Pages.PersonPages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonPagesValues.Person.FirstName) @Html.DisplayFor(model => model.PersonPagesValues.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonPagesValues.Person.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonPagesValues.Person.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonPagesValues.Person.IsActor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonPagesValues.Person.IsActor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonPagesValues.Person.IsDirector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonPagesValues.Person.IsDirector)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonPagesValues.Person.Picture)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageHelper.ImageSource(Model.PersonPagesValues.Person.Picture)" class="PersonImage" />
        </dd>
    </dl>
</div>

<div>
    <h3>Films</h3>
    <table>
        <tbody>
            @{
                var counter = 1;
            }
            <tr style="vertical-align: top">
                @foreach (var film in Model.PersonPagesValues.Films)
                {
                    <td>
                        <a asp-page="/FilmPages/Details" asp-route-id="@film.Id">
                            <img src="@Model.ImageHelper.ImageSource(film.Picture)" class="FilmImageSmall" />
                            <br />
                            <label>@film.Name</label>
                        </a>
                    </td>
                    if (counter % 4 == 0)
                    {
                        @Html.Raw("</tr><tr style=\"vertical-align: top\">");
                    }
                    counter++;
                }
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PersonPagesValues.Person.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
