@page
@model FilmReference.FrontEnd.Pages.PersonPages.IndexModel
@using FilmReference.FrontEnd.Extensions

@{
    ViewData["Title"] = "Actors";
}

<h1>Actors</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<p>
    @{
        foreach(var letter in Model.AtoZ)
        {
            <a asp-page="./Index" asp-route-id="@letter" class="AlphabetList">@letter</a>
        }

    }
</p>
<p>
    @Model.ActorList.Count record@(@Model.ActorList.Count.ShowCorrectRecordText()) found
</p>
<table>
    <tbody>
        @{
            var counter = 1;
        }
        <tr style="vertical-align: top">
            @foreach (var item in Model.ActorList)
            {
                <td style="padding: 5px; width: 25%; border: 1px solid lightgrey">
                    <strong>@Html.DisplayFor(modelItem => item.FullName)</strong>
                    <br />
                    @item.FilmPerson.Count film@(item.FilmPerson.Count.ShowCorrectRecordText())
                    <br />
                    <img src="@Model.ImageHelper.ImageSource(item.Picture)" class="PersonImageSmall" />
                    <br />
                    <br />
                    <a asp-page="./Details" asp-route-id="@item.PersonId">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.PersonId">Edit</a>
               </td>
                if (counter % 4 == 0)
                {
                    @Html.Raw("</tr><tr style=\"vertical-align: top\">");
                }
                counter++;
            }
        </tr>
    </tbody>
</table>