@page
@model FilmReference.FrontEnd.Pages.FilmPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Picture)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageHelper.ImageSource(Model.Film.Picture)" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Genre.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Director.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Studio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Studio.Name)
        </dd>
    </dl>
</div>
<div>
    <h3>Starring</h3>
    <table>
        <tbody>
            @{ 
                var counter = 1;
            }
            <tr style="vertical-align: top">
                @foreach (var actor in Model.Actors)
                {
                    <td>
                        <a asp-page="/PersonPages/Details" asp-route-id="@actor.PersonId">
                            <img src="@Model.ImageHelper.ImageSource(actor.Picture)" class="PersonImageSmall" />
                            <br />
                            <label>@actor.FullName</label>
                        </a>
                    </td>
                    if (counter % 4 == 0)
                    {
                        @Html.Raw("</tr><tr style=\"vertical-align: top\">");
                    }
                    counter++;
                }
            </tr>
        </tbody>
    </table>    
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Film.FilmId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
