@page
@model FilmReference.FrontEnd.Pages.StudioPages.IndexModel
@using System.Linq
@using BusinessLogic.Extensions

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    @Model.StudioList.Count record@(@Model.StudioList.Count.ShowCorrectRecordText()) found
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudioList.ElementAt(0).Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudioList.ElementAt(0).Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudioList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    @{ if (item.Picture != null)
                        {
                            <label class="PicLabel" onmouseover="showPicture(event, @item.Id)" onmouseout="hidePicture()">(Hover for pic)</label>
                            <label class="PicLabel" onmouseover="showPicture2(event, '@Model.ImageHelper.ImageSource(item.Picture)')" onmouseout="hidePicture()">(Hover for pic)</label>
                        }
                    }
                </td>
                @{
                    var stringValues = item.Description.ConvertToDisplayValue(50);
                }
                <td title="@stringValues.ToolTip">
                    @Html.DisplayFor(modelItem => stringValues.DisplayValue)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="PictureDiv">
    <img id="StudioImage" class="StudioImageSmall" />
</div>

<script type="text/javascript">

    function showPicture(e, studioId) {
        var left = (e.clientX + 50) + "px";
        var top = e.clientY + "px";
        var pictureDiv = $('#PictureDiv');

        pictureDiv.css('visibility', 'visible');
        pictureDiv.css('position', 'absolute');
        pictureDiv.css('left', left);
        pictureDiv.css('top', top);

        $.ajax({
            url: 'https://localhost:44363/Studio/' + studioId,
            type: 'GET',
            dataType: 'text',
            success: function (data) {
                $('#StudioImage').attr('src', data);
            }
        });
    }

    function showPicture2(e, pictureSource) {
        var left = (e.clientX + 50) + "px";
        var top = e.clientY + "px";
        var pictureDiv = $('#PictureDiv');

        pictureDiv.css('visibility', 'visible');
        pictureDiv.css('position', 'absolute');
        pictureDiv.css('left', left);
        pictureDiv.css('top', top);

        $('#StudioImage').attr('src', pictureSource);

    }

    function hidePicture() {
        $('#PictureDiv').css('visibility', 'hidden');
    }

</script>